@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #ffd700;
  --primary-hover: #e6c200;
  --border: #636060;

  --background: #f7f7f7;
  --foreground: #121212;
  --surface: #232325;

  --muted: #a0a0a0;
  --highlight: #38bdf8;
  --error: #ff4c4c;
  --success: #34d399;

  --radius: 16px;

  /* 
    background: rgba(34, 34, 34, 0.05) 
    color: #000;
  */

  /* Dark */
  /* 
    background: rgba(255, 255, 255, 0.12)
    color: #fff;
   */

  --drawer-header-bg: var(--surface);
  --drawer-header-text: var(--primary);
  --drawer-border-color: var(--border);
}

.dark {
  --border: #373535;

  --background: #1a1919;
  --foreground: #e0e0e0;
  --surface: #232325;

  /* --muted: #a0a0a0;
  --highlight: #38bdf8;
  --error: #ff4c4c;
  --success: #34d399; */

  --drawer-header-bg: var(--primary);
  --drawer-header-text: #000;
  --drawer-border-color: var(--border);
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-background {
    background-color: var(--background);
  }

  .bg-surface {
    background-color: var(--surface);
  }

  .border-primary {
    border-color: var(--border);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .hover\:bg-primary-hover:hover {
    background-color: var(--primary-hover) !important;
  }
}

@layer base {
  .rounded {
    border-radius: var(--radius) !important;
  }
}
